h1{
    font-size: 40px;
    padding: 20px;
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.history-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.history-card {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

a:link, a:visited {
  color: blue;
  padding: 20px;
  text-decoration: underline;
  cursor: grab;
}

.history-footer {
    text-align: center;
    margin-top: 20px;
}